<div class="main-card mb-3 card">
    <div class="card-body"><h5 class="card-title">{{title}}</h5>
      <form [formGroup]="formList" class="needs-validation" novalidate> 
        
        
        <div class="position-relative form-group form-row">

          <div class="col-md-6">
            <label for="name">Name</label>
            <div class="input-group mb-3 position-relative form-group">
                <input name="name" formControlName="name" id="name" placeholder="" type="text"
                class="form-control input-required">
            </div>

           
          </div>

          <div class="col-md-6">
              <div class="position-relative form-group">
                  <label for="categorie">Categories</label>
                  <select  formControlName="itemId" type="select" id="categorie" name="categorie" class="custom-select input-required">
                      <option *ngFor="let obj of listOfCategories" [value]="obj.id">{{obj.name}}</option>
                </select>
                </div>
             
            </div>

        </div>







        <div class="form-row ">
          <button class="mt-2 btn-space-r btn btn-primary" [disabled]="readOnly" (click)="save()">Save</button>
          <button class="mt-2 btn-space-l btn btn-primary" (click)="no()">Cancel</button>
      </div>

      </form>
    </div>
  </div>
  
  
  
  